@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
  margin-right: 100px;
}

.desc-image {
  width: 100%;
}

.loader-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &.loader-inner {
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.image-4 {
  margin-top: 3rem;
}

.image-3 {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .desc-image {
    width: 90%;
    height: auto;
  }

  .about-image {
    width: 100%;
  }
}